* {
    box-sizing: border-box;
}
#nav-list > li {
    font-size 1.3em;
    background-color: lightgray
    text-align: center;
}
div section {
    margin: 5px;
    padding: 5px;
    border: 1 px solid #61122F
}
#section-chicken{
    background-color: #FF7373;
}

#section-beef{
    background-color: #73ECFF;
}

#section-sushi{
    background-color: #FF99D8;
}

#text > h3 {
    margin-bottom: 20px;
}

#header-nav .navbar-brand {
    position: absolute;
    left: 15px;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #F6B319
}
